---
import ProjectCard from "./ProjectCard.astro"
import projects from "@/data/projects"

const showcase_projects = projects.slice(0, 4)
---

<div class="w-full px-4 pb-8" id="projects">
    <div class="max-w-7xl mx-auto">
      <h1 class="text-3xl font-bold mb-8">Recent projects</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {showcase_projects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            language={project.language}
            tags={project.tags},
            icon={project.icon},
            link={project.link}
          />
        ))}
        <a href="/antoniorv6.github.io/projects" class="hover:underline">All projects</a>
      </div>
    </div>
  </div>