---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card"
import { Badge } from "@/components/ui/badge"

const { paper } = Astro.props
---

<Card className="flex flex-col hover:shadow-white hover:cursor-pointer transition-shadow duration-300">
  <a href={paper.ee}>
    <CardHeader className="flex-shrink-0">
      <CardTitle className="text-lg line-clamp-2 min-h-[3rem]">{paper.title}</CardTitle>
    </CardHeader>
    <CardContent className="flex flex-col flex-grow">
      <div class="mb-2 min-h-[1.5rem]">
        <p class="text-sm text-muted-foreground line-clamp-1">{paper.author}</p>
      </div>
      <div class="flex justify-between items-center mt-auto">
        <span class="text-sm text-muted-foreground">
          {paper.year}
        </span>
        <Badge variant="secondary">{paper.venue}</Badge>
      </div>
    </CardContent>
  </a>
</Card>